*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

body
{
    justify-content: center;
    justify-items: center;
    height: 600px;
    background-color: rgb(110, 162, 216);
    
}
.navbar
{
    background-color: #ffff00;
    height: 50px;
    position: relative;
    top: 0;
    width:100%;
    text-align: center;
    font-size: 1.8rem;

}

.country
{
    display: flex;
    position: relative;
    top: 60px;
    gap: 20px;
}


.country1 img
{
    height: 100px;
    position: relative;
    left: 50px;
}

.country2 img
{    
    height: 100px;
    position: relative;
    left: 50px;


}


.country1 select
{
    height: 30px;
    width: 200px;
    position: relative;
    background-color: #f3d392;

}

.country2 select
{    
    height: 30px;
     width: 200px;
    position: relative;
    background-color: #b4f392;
}


.converter
{
    position: relative;
    top: 100px;
    height: 200px;
    width: 400px;
    justify-content: center;
    justify-items: center;
    line-height: 50px;
}

.displaycurrency 
{
    position: relative;
    right: 20px;
    background-color:transparent;
}

.converted 
{
    border: 5px solid rgb(23, 191, 23);
}

.display 
{
    border: 5px solid rgb(23, 191, 23);
    font-size: 10px;
    height: 30px;
    word-wrap: normal;
    font-size: 10px ;
}


.input_button input
{

    
    width: 200px;
    padding:10px;
     border: none;
     border-radius: 10px;
     position: relative;
     left: 80px;
     outline: none;

}

.input_button button
{

    height: 30px;
    width: 200px;
    padding:  5px;
    border: none;
     position: relative;
     left: 80px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(47, 44, 214);
    cursor: pointer;
    font-size: 1.2rem;

  

}